[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP.git
	branch = main
[submodule "Tweaks/Return-YouTube-Dislikes"]
	path = Tweaks/Return-YouTube-Dislikes
	url = https://github.com/PoomSmart/Return-YouTube-Dislikes.git
	branch = main
[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
	branch = main
[submodule "Tweaks/PSHeader"]
	path = Tweaks/PSHeader
	url = https://github.com/PoomSmart/PSHeader.git
	branch = master
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/CokePokes/YoutubeExtensions.git
	branch = main
[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/hbang/Alderis.git
[submodule "Tweaks/RemoteLog"]
	path = Tweaks/RemoteLog
	url = https://github.com/Muirey03/RemoteLog.git
[submodule "Tweaks/DontEatMyContent"]
	path = Tweaks/DontEatMyContent
	url = https://github.com/therealFoxster/DontEatMyContent.git
[submodule "Tweaks/YTVideoOverlay"]
	path = Tweaks/YTVideoOverlay
	url = https://github.com/PoomSmart/YTVideoOverlay.git
	branch = main
[submodule "Tweaks/YTClassicVideoQuality"]
	path = Tweaks/YTClassicVideoQuality
	url = https://github.com/PoomSmart/YTClassicVideoQuality.git
	branch = main
[submodule "Tweaks/YouQuality"]
	path = Tweaks/YouQuality
	url = https://github.com/PoomSmart/YouQuality.git
	branch = main

